AddressValidation/Service References/XAVService/XAV.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xav="http://www.ups.com/XMLSchema/XOLTWS/xav/v1.0" xmlns:upss="http://www.ups.com/XMLSchema/XOLTWS/UPSS/v1.0" xmlns:tns="http://www.ups.com/WSDL/XOLTWS/XAV/v1.0" xmlns:error="http://www.ups.com/XMLSchema/XOLTWS/Error/v1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ups.com/WSDL/XOLTWS/XAV/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.ups.com/XMLSchema/XOLTWS/UPSS/v1.0">
      <xsd:element name="UPSSecurity">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="UsernameToken">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Username" type="xsd:string" />
                  <xsd:element name="Password" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="ServiceAccessToken">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="AccessLicenseNumber" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:common="http://www.ups.com/XMLSchema/XOLTWS/Common/v1.0" elementFormDefault="qualified" targetNamespace="http://www.ups.com/XMLSchema/XOLTWS/Common/v1.0">
      <xsd:element name="Request" type="common:RequestType" />
      <xsd:element name="Response" type="common:ResponseType" />
      <xsd:element name="ClientInformation" type="common:ClientInformationType" />
      <xsd:complexType name="ClientInformationType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Property">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="Key" type="xsd:string" use="required" />
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="RequestOption" type="xsd:string" />
          <xsd:element minOccurs="0" name="TransactionReference" type="common:TransactionReferenceType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TransactionReferenceType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="CustomerContext" type="xsd:string" />
          <xsd:element minOccurs="0" name="TransactionIdentifier" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ResponseType">
        <xsd:sequence>
          <xsd:element name="ResponseStatus" type="common:CodeDescriptionType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Alert" type="common:CodeDescriptionType" />
          <xsd:element minOccurs="0" name="TransactionReference" type="common:TransactionReferenceType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CodeDescriptionType">
        <xsd:sequence>
          <xsd:element name="Code" type="xsd:string" />
          <xsd:element name="Description" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:common="http://www.ups.com/XMLSchema/XOLTWS/Common/v1.0" elementFormDefault="qualified" targetNamespace="http://www.ups.com/XMLSchema/XOLTWS/Error/v1.1">
      <xsd:import namespace="http://www.ups.com/XMLSchema/XOLTWS/Common/v1.0" />
      <xsd:element name="Errors">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="ErrorDetail" type="error:ErrorDetailType" />
            <xsd:element minOccurs="0" name="TransactionReference" type="common:TransactionReferenceType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ErrorDetailType">
        <xsd:sequence>
          <xsd:element name="Severity" type="xsd:string" />
          <xsd:element name="PrimaryErrorCode" type="error:CodeType" />
          <xsd:element minOccurs="0" name="MinimumRetrySeconds" type="xsd:string" />
          <xsd:element minOccurs="0" name="Location" type="error:LocationType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="SubErrorCode" type="error:CodeType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CodeType">
        <xsd:sequence>
          <xsd:element name="Code" type="xsd:string" />
          <xsd:element name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" name="Digest" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LocationType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="LocationElementName" type="xsd:string" />
          <xsd:element minOccurs="0" name="XPathOfElement" type="xsd:string" />
          <xsd:element minOccurs="0" name="OriginalValue" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:common="http://www.ups.com/XMLSchema/XOLTWS/Common/v1.0" elementFormDefault="qualified" targetNamespace="http://www.ups.com/XMLSchema/XOLTWS/xav/v1.0">
      <xsd:import namespace="http://www.ups.com/XMLSchema/XOLTWS/Common/v1.0" />
      <xsd:element name="XAVRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="common:Request" />
            <xsd:element minOccurs="0" name="RegionalRequestIndicator" type="xsd:string" />
            <xsd:element minOccurs="0" name="MaximumCandidateListSize" type="xsd:string" />
            <xsd:element name="AddressKeyFormat" type="xav:AddressKeyFormatType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="XAVResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="common:Response" />
            <xsd:choice minOccurs="0">
              <xsd:element minOccurs="0" name="ValidAddressIndicator" type="xsd:string" />
              <xsd:element minOccurs="0" name="AmbiguousAddressIndicator" type="xsd:string" />
              <xsd:element minOccurs="0" name="NoCandidatesIndicator" type="xsd:string" />
            </xsd:choice>
            <xsd:element minOccurs="0" name="AddressClassification" type="xav:AddressClassificationType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="Candidate" type="xav:CandidateType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="AddressKeyFormatType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ConsigneeName" type="xsd:string" />
          <xsd:element minOccurs="0" name="AttentionName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="AddressLine" type="xsd:string" />
          <xsd:sequence minOccurs="0">
            <xsd:element minOccurs="0" name="PoliticalDivision2" type="xsd:string" />
            <xsd:element minOccurs="0" name="PoliticalDivision1" type="xsd:string" />
            <xsd:element minOccurs="0" name="PostcodePrimaryLow" type="xsd:string" />
            <xsd:element minOccurs="0" name="PostcodeExtendedLow" type="xsd:string" />
          </xsd:sequence>
          <xsd:element minOccurs="0" name="Region" type="xsd:string" />
          <xsd:element minOccurs="0" name="Urbanization" type="xsd:string" />
          <xsd:element name="CountryCode" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CandidateType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="AddressClassification" type="xav:AddressClassificationType" />
          <xsd:element name="AddressKeyFormat" type="xav:AddressKeyFormatType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AddressClassificationType">
        <xsd:sequence>
          <xsd:element name="Code" type="xsd:string" />
          <xsd:element name="Description" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="XAVRequestMessage">
    <wsdl:part name="Body" element="xav:XAVRequest" />
    <wsdl:part name="UPSSecurity" element="upss:UPSSecurity" />
  </wsdl:message>
  <wsdl:message name="XAVResponseMessage">
    <wsdl:part name="Body" element="xav:XAVResponse" />
  </wsdl:message>
  <wsdl:message name="XAVErrorMessage">
    <wsdl:part name="XAVError" element="error:Errors" />
  </wsdl:message>
  <wsdl:portType name="XAVPortType">
    <wsdl:operation name="ProcessXAV">
      <wsdl:input name="XAVRequest" message="tns:XAVRequestMessage" />
      <wsdl:output name="XAVResponse" message="tns:XAVResponseMessage" />
      <wsdl:fault name="XAVError" message="tns:XAVErrorMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="XAVBinding" type="tns:XAVPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessXAV">
      <soap:operation soapAction="http://onlinetools.ups.com/webservices/XAVBinding/v1.0" style="document" />
      <wsdl:input name="XAVRequest">
        <soap:body use="literal" parts="Body" />
        <soap:header message="tns:XAVRequestMessage" part="UPSSecurity" use="literal">
          <soap:headerfault message="tns:XAVErrorMessage" part="XAVError" use="literal" />
        </soap:header>
      </wsdl:input>
      <wsdl:output name="XAVResponse">
        <soap:body use="literal" parts="Body" />
      </wsdl:output>
      <wsdl:fault name="XAVError">
        <soap:fault use="literal" name="XAVError" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="XAVService">
    <wsdl:port name="XAVPort" binding="tns:XAVBinding">
      <soap:address location="https://wwwcie.ups.com/webservices/XAV" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>